Repository Aries-Serpent/_codex_, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aries-Serpent/owners, @Aries-Serpent/ml-core, @Aries-Serpent/docs

Handle non-numeric ids during clean stage
  src/hhg_logistics/pipeline_nodes/clean.py
Owners: @Aries-Serpent/owners

Add Zendesk diff engine scaffolding
  analysis/branch_0B_base_overview.md
  analysis/commit_2d1469d_scope.md
  src/codex/zendesk/__init__.py
  src/codex/zendesk/cli.py
  src/codex/zendesk/model/__init__.py
  src/codex/zendesk/model/field.py
  src/codex/zendesk/model/group.py
  src/codex/zendesk/model/trigger.py
  src/codex/zendesk/monitoring/__init__.py
  src/codex/zendesk/monitoring/registry.py
  src/codex/zendesk/monitoring/zendesk_metrics.py
  src/codex/zendesk/plan/diff_engine.py
Owners: @Aries-Serpent/owners

Add Zendesk diff models and CLI scaffolding
  analysis/branch_0B_base_overview.md
  analysis/commit_2d1469d_scope.md
  src/codex/cli.py
  src/codex/cli_zendesk.py
  src/codex/monitoring/__init__.py
  src/codex/zendesk/__init__.py
  src/codex/zendesk/model/__init__.py
  src/codex/zendesk/model/field.py
  src/codex/zendesk/model/group.py
  src/codex/zendesk/model/trigger.py
  src/codex/zendesk/monitoring/__init__.py
  src/codex/zendesk/monitoring/registry.py
  src/codex/zendesk/monitoring/zendesk_metrics.py
  src/codex/zendesk/plan/__init__.py
  src/codex/zendesk/plan/diff_engine.py
Owners: @Aries-Serpent/owners

Fix GE checkpoint success access and data config paths
  src/common/validate.py
  src/hhg_logistics/conf/data/default.yaml
Owners: @Aries-Serpent/owners

fix: guard torch seeding when module is stubbed
  src/common/randomness.py
Owners: @Aries-Serpent/owners

fix: initialize hook manager in training loop
  src/hhg_logistics/train.py
Owners: @Aries-Serpent/owners

Fix per-request overrides in Ray Serve batching
  src/hhg_logistics/serve/app.py
Owners: @Aries-Serpent/owners

fix: resolve NDJSON metrics dir under original cwd
  src/hhg_logistics/pipeline.py
Owners: @Aries-Serpent/owners

Expand Zendesk coverage and add offline scaffolding
  docs/api_catalog.md
  docs/diffs/trigger_example.json
  docs/next_steps.md
  docs/runbooks/zendesk_admin_workflow.md
  noxfile.py
  scripts/generate_desired_state.py
  scripts/offline_gate.sh
  src/codex/cli_zendesk.py
  src/codex/zendesk/model/__init__.py
  src/codex/zendesk/model/app.py
  src/codex/zendesk/model/guide.py
  src/codex/zendesk/model/macro.py
  src/codex/zendesk/model/routing.py
  src/codex/zendesk/model/talk.py
  src/codex/zendesk/model/view.py
  src/codex/zendesk/model/webhook.py
  src/codex/zendesk/model/widget.py
  src/codex/zendesk/plan/diff_engine.py
  tests/e2e_offline/test_diff_and_apply.py
  tests/unit/test_zendesk_models.py
Owners: @Aries-Serpent/docs, @Aries-Serpent/owners

fix: read GE checkpoint success flag via attribute
  src/common/validate.py
Owners: @Aries-Serpent/owners

fix: guard torch stub attribute access
  src/common/randomness.py
Owners: @Aries-Serpent/owners

fix: restore tabs in monitoring make targets
  Makefile
Owners: @Aries-Serpent/owners

fix: make batch overrides hashable
  src/hhg_logistics/serve/app.py
Owners: @Aries-Serpent/owners

fix: allow slow tokenizer fallback
  src/hhg_logistics/model/peft_utils.py
Owners: @Aries-Serpent/owners

fix: honor DVC params in prepare script
  src/hhg_logistics/data/prepare.py
Owners: @Aries-Serpent/owners

Escape JSON pointer tokens in Zendesk diff paths
  src/codex/zendesk/plan/diff_engine.py
Owners: @Aries-Serpent/owners

Ensure Zendesk models ignore extra fields
  src/codex/zendesk/model/app.py
  src/codex/zendesk/model/guide.py
  src/codex/zendesk/model/macro.py
  src/codex/zendesk/model/routing.py
  src/codex/zendesk/model/talk.py
  src/codex/zendesk/model/view.py
  src/codex/zendesk/model/webhook.py
  src/codex/zendesk/model/widget.py
Owners: @Aries-Serpent/owners

Fix LoRA target detection for GPT-2
  src/hhg_logistics/model/peft_utils.py
  tests/unit/test_peft_utils.py
Owners: @Aries-Serpent/owners

fix: clear stale checkpoint directory flag
  src/common/hooks.py
Owners: @Aries-Serpent/owners

Fix provenance paths to use project root
  src/common/provenance.py
  tests/unit/test_provenance.py
Owners: @Aries-Serpent/owners

fix: import log_dict_safe for data gate
  src/hhg_logistics/pipeline.py
Owners: @Aries-Serpent/owners

fix: allow pipeline stage overrides
  src/hhg_logistics/conf/config.yaml
Owners: @Aries-Serpent/owners

fix: guard hydra import in cli smoke test
  tests/integration/test_cli_smoke.py
Owners: @Aries-Serpent/owners

Fix Zendesk diff engine key handling and CLI type checks
  src/codex/cli_zendesk.py
  src/codex/zendesk/plan/diff_engine.py
Owners: @Aries-Serpent/owners

fix: support list params entries in DVC provenance
  src/common/provenance.py
  tests/unit/test_provenance.py
Owners: @Aries-Serpent/owners

Fix macro diff serialization
  src/codex/zendesk/model/macro.py
Owners: @Aries-Serpent/owners

fix: resolve drift reference path with hydra utils
  src/hhg_logistics/pipeline.py
Owners: @Aries-Serpent/owners

Fix validation split guard and default provenance path
  src/common/provenance.py
  src/hhg_logistics/data/prepare.py
  tests/unit/test_prepare_split.py
Owners: @Aries-Serpent/owners

Guard metrics path resolution when Hydra is inactive
  src/hhg_logistics/pipeline.py
Owners: @Aries-Serpent/owners

Scope offline smoke tests
  noxfile.py
  scripts/offline_gate.sh
Owners: @Aries-Serpent/owners

fix: reference params namespace in dvc stage
  dvc.yaml
Owners: @Aries-Serpent/owners

Fix prepare CSV writers to honor dynamic schema
  src/hhg_logistics/data/prepare.py
Owners: @Aries-Serpent/owners

Resolve pipeline node paths via Hydra
  src/hhg_logistics/pipeline_nodes/__init__.py
Owners: @Aries-Serpent/owners

Resolve modular pipeline paths via Hydra
  src/hhg_logistics/pipeline_nodes/__init__.py
Owners: @Aries-Serpent/owners

Enhance Zendesk apply workflow and docs
  docs/api_catalog.md
  docs/runbooks/zendesk_admin_workflow.md
  docs/zendesk_api_reference.md
  src/codex/cli_zendesk.py
  src/codex/zendesk/apply.py
Owners: @Aries-Serpent/docs, @Aries-Serpent/owners

feat: add zendesk docs index and tighten offline tests
  .gitignore
  data/zendesk_api_index.json
  docs/zendesk_api_catalog_generated.md
  docs/zendesk_api_reference.md
  noxfile.py
  pyproject.toml
  scripts/sync_zendesk_docs.py
  src/codex/cli_zendesk.py
  src/codex/zendesk/apply.py
  tests/unit/test_apply_ops_normalization.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

feat: expand zendesk apply tooling and docs index
  .gitignore
  data/zendesk_api_index.json
  docs/zendesk_api_catalog_generated.md
  docs/zendesk_api_reference.md
  noxfile.py
  pyproject.toml
  scripts/sync_zendesk_docs.py
  src/codex/cli_zendesk.py
  src/codex/monitoring/__init__.py
  src/codex/zendesk/apply.py
  tests/unit/test_apply_ops_normalization.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

Fix resource selection in guide/talk/widget apply handlers
  src/codex/zendesk/apply.py
Owners: @Aries-Serpent/owners

feat: harden zendesk tooling and docs capture
  .gitignore
  .pre-commit-config.yaml
  data/zendesk_docs_manifest.json
  docs/runbooks/zendesk_docs_pipeline.md
  docs/zendesk_api_catalog_generated.md
  noxfile.py
  pyproject.toml
  scripts/zendesk_docs_catalog.py
  scripts/zendesk_docs_fetch.py
  src/codex/cli_zendesk.py
  tests/unit/test_apply_ops_normalization.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

Use python3 -m pytest for user-site tests session
  noxfile.py
Owners: @Aries-Serpent/owners

.github/CODEOWNERS:

# Default owners
* @Aries-Serpent/owners

# ML core
src/codex_ml/** @Aries-Serpent/ml-core

# Docs
docs/** @Aries-Serpent/docs

# Tests
tests/** @Aries-Serpent/owners
