Repository Aries-Serpent/_codex_, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aries-Serpent/owners, @Aries-Serpent/ml-core, @Aries-Serpent/docs

.github/CODEOWNERS:

# Default owners
* @Aries-Serpent/owners

# ML core
src/codex_ml/** @Aries-Serpent/ml-core

# Docs
docs/** @Aries-Serpent/docs

# Tests
tests/** @Aries-Serpent/owners

chore(audit): round-5 — docs token variants, minimal tests, scoring util tidy, docs/spec touch-ups
  docs/Traversal_Workflow.md
  docs/Usage_Guide.md
  scripts/space_traversal/audit_runner.py
  tests/specs/test_detector_inference_serving.py
  tests/specs/test_docs_score_synonyms.py
Owners: @Aries-Serpent/docs, @Aries-Serpent/owners

feat: add security baseline and tooling gates
  .pre-commit-config.yaml
  CODE_STYLE_GUIDE.md
  Dockerfile
  Makefile
  deploy/helm/values.yaml
  docs/security/SECURITY_POLICY.md
  pyproject.toml
  src/security/__init__.py
  src/security/core.py
  src/security/secrets.py
  tests/deployment/test_docker_build.py
  tests/deployment/test_helm_chart.py
  tests/security/test_injection_prevention.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

Add dynamic capability detectors and validation tooling
  Makefile
  scripts/generate_capability_report.py
  scripts/run_space_audit_fast.sh
  scripts/space_traversal/detectors/ci_cd_pipeline.py
  scripts/space_traversal/detectors/code_quality_tooling.py
  scripts/space_traversal/detectors/deployment_infrastructure.py
  scripts/space_traversal/detectors/documentation_system.py
  scripts/space_traversal/detectors/experiment_management.py
  scripts/space_traversal/detectors/reproducibility.py
  scripts/space_traversal/detectors/testing_infrastructure.py
  scripts/validate_all_capabilities.sh
  templates/audit/capability_matrix.md.j2
Owners: @Aries-Serpent/owners

Tighten security input validation and entropy checks
  src/security/core.py
  src/security/secrets.py
  tests/security/test_injection_prevention.py
  tests/security/test_secret_entropy.py
Owners: @Aries-Serpent/owners

Restore sanitization for text and html inputs
  src/security/core.py
  tests/security/test_secret_entropy.py
Owners: @Aries-Serpent/owners

feat: add hydra validation and aes encryption updates
  configs/experiment.yaml
  deploy/helm/values.yaml
  docs/configuration/HYDRA_GUIDE.md
  docs/modules/safety.md
  src/security/__init__.py
  src/security/audit_logger.py
  src/security/encryption.py
  tests/ci/test_workflow_validation.py
  tests/configuration/test_hydra_validation.py
  tests/data/test_pipeline_validation.py
  tests/deployment/test_k8s_manifests.py
  tests/evaluation/test_metrics_registry.py
  tests/integration/test_code_quality_pipeline.py
  tests/integration/test_mlflow_offline.py
  tests/logging/test_structured_logging.py
  tests/security/test_encryption.py
  tests/security/test_encryption_utils.py
  tests/security/test_secret_entropy.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

chore(audit): add audit artifacts & manifest (0D_base_)
  audit_artifacts/_scoring_warnings.json
  audit_artifacts/capabilities_raw.json
  audit_artifacts/capabilities_scored.json
  audit_artifacts/context_index.json
  audit_artifacts/facets.json
  audit_artifacts/gaps.json
  audit_run_manifest.json
Owners: @Aries-Serpent/owners

Align space traversal docs and config with v1.1 plan
  .copilot-space/workflow.yaml
  .github/docs/Space_TraversalWorkflow_Copilot.md
  docs/Traversal_Workflow.md
  docs/Usage_Guide.md
  scripts/space_traversal/capability_scoring.py
  space.mk
  templates/audit/capability_matrix.md.j2
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

Ensure manifest and reports use normalized weights
  scripts/space_traversal/audit_runner.py
Owners: @Aries-Serpent/owners

Preserve HTML escaping in validator
  src/security/core.py
  tests/security/test_injection_prevention.py
Owners: @Aries-Serpent/owners

feat: add deterministic seeding and configuration contracts
  .pre-commit-config.yaml
  docker-compose.yml
  noxfile.py
  pyproject.toml
  requirements.txt
  src/codex_ml/config.py
  src/codex_ml/config_settings.py
  src/codex_ml/utils/seed.py
  tests/config/test_schema.py
  tests/eval/test_eval_contract.py
  tests/utils/test_seed.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/ml-core

feat: add deterministic seeding and config schemas
  .pre-commit-config.yaml
  docker-compose.override.yml
  noxfile.py
  pyproject.toml
  pytest.ini
  requirements.txt
  src/codex_ml/config/__init__.py
  src/codex_ml/config/settings.py
  src/codex_ml/utils/seed.py
  tests/config/test_schema.py
  tests/eval/test_eval_contract.py
  tests/utils/test_seed.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/ml-core

Enhance tooling and determinism
  .importlinter
  .pre-commit-config.yaml
  noxfile.py
  pyproject.toml
  pytest.ini
  scripts/security/licenses.sh
Owners: @Aries-Serpent/owners

feat(core): add deterministic seeding and config contracts
  .pre-commit-config.yaml
  Makefile
  docker-compose.override.yml
  docs/ops/Commits.md
  noxfile.py
  pyproject.toml
  pytest.ini
  requirements-dev.txt
  requirements.txt
  src/codex_ml/config/__init__.py
  src/codex_ml/config/settings.py
  src/codex_ml/utils/seed.py
  tests/config/test_schema.py
  tests/eval/test_eval_contract.py
  tests/utils/test_seed.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs, @Aries-Serpent/ml-core

Revamp nox workflow and tooling
  .importlinter
  noxfile.py
  pyproject.toml
  pytest.ini
  scripts/security/licenses.sh
  services/api/main.py
  tests/security/test_offline_scans.py
Owners: @Aries-Serpent/owners

Safely parse CODEX_COV_FLOOR default
  noxfile.py
Owners: @Aries-Serpent/owners

fix: align package target with new nox session
  Makefile
Owners: @Aries-Serpent/owners

Fix import-linter contracts for interfaces module
  .importlinter
Owners: @Aries-Serpent/owners

test: expect ValidationError for EvalRow step
  tests/eval/test_eval_contract.py
Owners: @Aries-Serpent/owners

fix: restore package nox session
  Makefile
Owners: @Aries-Serpent/owners

Unify seeding helpers and update tooling workflows
  docker-compose.override.yml
  docs/validation/Atomic_Diffs_Next_Unresolved_2025-10-11.md
  docs/validation/Post_Apply_Validation_Checklist_2025-10-11.md
  noxfile.py
  src/codex_ml/utils/seed.py
  src/codex_ml/utils/seeding.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs, @Aries-Serpent/ml-core

Unify seeding helpers and update validation tooling
  docker-compose.override.yml
  docs/validation/Atomic_Diffs_Next_Unresolved_2025-10-11.md
  docs/validation/Post_Apply_Validation_Checklist_2025-10-11.md
  noxfile.py
  src/codex_ml/utils/seed.py
  src/codex_ml/utils/seeding.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs, @Aries-Serpent/ml-core

Restore default seed handling in set_reproducible
  src/codex_ml/utils/seeding.py
Owners: @Aries-Serpent/ml-core

Restore default seed parameter for set_reproducible
  src/codex_ml/utils/seeding.py
Owners: @Aries-Serpent/ml-core

fix(nox): load pytest-cov plugin in cov session
  .importlinter
  .pre-commit-config.yaml
  Makefile
  docker-compose.override.yml
  docs/ops/Commits.md
  docs/validation/Atomic_Diffs_Next_Unresolved_2025-10-11.md
  docs/validation/Post_Apply_Validation_Checklist_2025-10-11.md
  noxfile.py
  pyproject.toml
  pytest.ini
  requirements-dev.txt
  requirements.txt
  scripts/security/licenses.sh
  services/api/main.py
  src/codex_ml/config/__init__.py
  src/codex_ml/config/settings.py
  src/codex_ml/utils/seed.py
  src/codex_ml/utils/seeding.py
  tests/config/test_schema.py
  tests/eval/test_eval_contract.py
  tests/security/test_offline_scans.py
  tests/utils/test_seed.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs, @Aries-Serpent/ml-core

Fix nox sessions to run installed tools in venv
  noxfile.py
Owners: @Aries-Serpent/owners

Fix nox sessions to run installed tools in venv
  noxfile.py
Owners: @Aries-Serpent/owners

feat(hhg): add logistics hydra scaffold
  .editorconfig
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  src/common/__init__.py
  src/common/randomness.py
  src/hhg_logistics/__init__.py
  src/hhg_logistics/conf/config.yaml
  src/hhg_logistics/conf/env/ubuntu.yaml
  src/hhg_logistics/conf/model/baseline.yaml
  src/hhg_logistics/conf/training/default.yaml
  src/hhg_logistics/main.py
  src/hhg_logistics/pipeline.py
  tests/integration/__init__.py
  tests/integration/test_cli_smoke.py
  tests/unit/test_config_compose.py
  tests/unit/test_randomness.py
  tests/unit/test_sanity.py
  uv.lock
Owners: @Aries-Serpent/owners

feat: add DVC pipeline and provenance tracking
  .dvcignore
  .gitignore
  Makefile
  codex_ready_task_sequence.yaml
  data/.gitkeep
  data/models/.gitkeep
  data/processed/.gitkeep
  data/raw/.gitkeep
  dvc.yaml
  params.yaml
  patches/I2_Data_Spine_P2.1-P2.3.md
  pyproject.toml
  src/common/provenance.py
  src/hhg_logistics/data/prepare.py
  src/hhg_logistics/pipeline.py
  tests/unit/test_provenance.py
  uv.lock
Owners: @Aries-Serpent/owners

feat(pipeline): modular pipeline with GE validation
  data/sample/clean.csv
  data/sample/raw.csv
  great_expectations/checkpoints/clean_checkpoint.yml
  great_expectations/expectations/clean_data_suite.json
  pyproject.toml
  src/common/validate.py
  src/hhg_logistics/conf/config.yaml
  src/hhg_logistics/conf/pipeline/clean.yaml
  src/hhg_logistics/conf/pipeline/features.yaml
  src/hhg_logistics/conf/pipeline/ingest.yaml
  src/hhg_logistics/pipeline.py
  src/hhg_logistics/pipeline_nodes/__init__.py
  src/hhg_logistics/pipeline_nodes/clean.py
  src/hhg_logistics/pipeline_nodes/features.py
  src/hhg_logistics/pipeline_nodes/ingest.py
  tests/data/test_samples.py
  tests/integration/test_ge_pipeline.py
  tests/unit/test_pipeline_nodes.py
Owners: @Aries-Serpent/owners

feat(metrics): NDJSON event logger and CSV exporter; pipeline writes run event; Make target
  Makefile
  pyproject.toml
  src/common/mlflow_guard.py
  src/common/ndjson_tools.py
  src/hhg_logistics/conf/config.yaml
  src/hhg_logistics/conf/data/default.yaml
  src/hhg_logistics/conf/monitor/default.yaml
  src/hhg_logistics/conf/serve/local.yaml
  src/hhg_logistics/conf/train/default.yaml
  src/hhg_logistics/main.py
  src/hhg_logistics/pipeline.py
  tests/unit/test_config_compose.py
  tests/unit/test_mlflow_guard.py
  tests/unit/test_ndjson_tools.py
  uv.lock
Owners: @Aries-Serpent/owners

feat: add HF LoRA training and eval scaffolding
  Makefile
  dvc.yaml
  pyproject.toml
  src/hhg_logistics/conf/config.yaml
  src/hhg_logistics/conf/eval/default.yaml
  src/hhg_logistics/conf/model/hf_llm.yaml
  src/hhg_logistics/conf/train/lora.yaml
  src/hhg_logistics/eval/__init__.py
  src/hhg_logistics/eval/harness.py
  src/hhg_logistics/model/__init__.py
  src/hhg_logistics/model/adapters.py
  src/hhg_logistics/model/peft_utils.py
  src/hhg_logistics/train.py
  tests/integration/test_eval_wrapper.py
  tests/unit/test_adapters.py
  tests/unit/test_peft_utils.py
  tests/unit/test_train_entrypoint.py
Owners: @Aries-Serpent/owners

feat(serve): add Ray Serve prototype with monitoring
  Makefile
  pyproject.toml
  src/hhg_logistics/conf/config.yaml
  src/hhg_logistics/conf/serve/local.yaml
  src/hhg_logistics/monitor/__init__.py
  src/hhg_logistics/monitor/serve_report.py
  src/hhg_logistics/serve/__init__.py
  src/hhg_logistics/serve/app.py
  src/hhg_logistics/serve/smoke.py
  tests/integration/test_monitor_report.py
Owners: @Aries-Serpent/owners

feat: add monitoring drift gates and plugin hooks
  Makefile
  docs/plugins.md
  pyproject.toml
  src/common/hooks.py
  src/common/mlflow_guard.py
  src/common/registry.py
  src/hhg_logistics/conf/config.yaml
  src/hhg_logistics/conf/hooks/default.yaml
  src/hhg_logistics/conf/monitor/default.yaml
  src/hhg_logistics/conf/plugins/default.yaml
  src/hhg_logistics/monitor/data_gate.py
  src/hhg_logistics/monitor/data_report.py
  src/hhg_logistics/monitor/serve_report.py
  src/hhg_logistics/monitor/snapshot.py
  src/hhg_logistics/pipeline.py
  src/hhg_logistics/plugins/__init__.py
  src/hhg_logistics/plugins/example_plugin.py
  src/hhg_logistics/registry/__init__.py
  src/hhg_logistics/train.py
  tests/integration/test_data_gate.py
  tests/integration/test_data_report.py
  tests/unit/test_attach_artifacts.py
  tests/unit/test_hooks_manager.py
  tests/unit/test_plugin_loader.py
  tests/unit/test_registry_basic.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

fix: add default data config for hhg logistics
  .gitignore
  src/hhg_logistics/conf/config.yaml
  src/hhg_logistics/conf/data/default.yaml
Owners: @Aries-Serpent/owners

fix: restore tab in clean target
  Makefile
Owners: @Aries-Serpent/owners

Fix Hydra path resolution for training data and adapters
  src/hhg_logistics/train.py
Owners: @Aries-Serpent/owners

Fix single prompt batching invocation
  src/hhg_logistics/serve/app.py
Owners: @Aries-Serpent/owners

fix: lazy import data drift gate
  src/hhg_logistics/pipeline.py
Owners: @Aries-Serpent/owners

fix: restore tab for env-info target
  Makefile
Owners: @Aries-Serpent/owners
