Repository Aries-Serpent/_codex_, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aries-Serpent/owners, @Aries-Serpent/ml-core, @Aries-Serpent/docs

.github/CODEOWNERS:

# Default owners
* @Aries-Serpent/owners

# ML core
src/codex_ml/** @Aries-Serpent/ml-core

# Docs
docs/** @Aries-Serpent/docs

# Tests
tests/** @Aries-Serpent/owners

fix: harden zendesk tooling and validations
  data/zendesk_docs_manifest.json
  docs/zendesk_api_catalog_generated.md
  noxfile.py
  scripts/zendesk_docs_catalog.py
  scripts/zendesk_docs_fetch.py
  src/codex/cli_zendesk.py
  src/codex/zendesk/plan/validators.py
  tests/test_zendesk_validators.py
  tools/python_shim.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

Sort reproducibility exports alphabetically
  noxfile.py
  pyproject.toml
  src/codex_ml/cli/simple_cli.py
  src/codex_ml/data_utils.py
  src/codex_ml/metrics.py
  src/codex_ml/metrics/__init__.py
  src/codex_ml/metrics_base.py
  src/codex_ml/modeling/__init__.py
  src/codex_ml/modeling/codex_model.py
  src/codex_ml/utils/repro.py
  tests/data/test_data_cache.py
  tests/metrics/test_classification_metrics.py
  tests/modeling/test_codex_model.py
  tests/test_cli_simple.py
  tests/test_repro_capture.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/ml-core

Fix Zendesk plan validator schema
  src/codex/zendesk/plan/validators.py
  tests/test_zendesk_validators.py
Owners: @Aries-Serpent/owners

Respect user-provided device map
  src/codex_ml/modeling/codex_model.py
Owners: @Aries-Serpent/ml-core

Fix nox tests session installation
  noxfile.py
Owners: @Aries-Serpent/owners

Add CRM scaffolding with config loaders and CLI
  config/cdm/assignment.csv
  config/mapping/assignment_d365.csv
  config/mapping/assignment_zendesk.csv
  noxfile.py
  src/codex_crm/__init__.py
  src/codex_crm/cdm/__init__.py
  src/codex_crm/cdm/loader.py
  src/codex_crm/cli.py
  src/codex_crm/convert/__init__.py
  src/codex_crm/convert/rules.py
  src/codex_crm/d365_admin/__init__.py
  src/codex_crm/d365_admin/generate.py
  src/codex_crm/diagram/__init__.py
  src/codex_crm/diagram/flows.py
  src/codex_crm/evidence/__init__.py
  src/codex_crm/evidence/emit.py
  src/codex_crm/pa_legacy/__init__.py
  src/codex_crm/pa_legacy/reader.py
  src/codex_crm/zaf_legacy/__init__.py
  src/codex_crm/zaf_legacy/reader.py
  src/codex_crm/zd_admin/__init__.py
  src/codex_crm/zd_admin/generate.py
  tests/crm/test_cli_smoke.py
  tests/crm/test_conversion_fidelity.py
  tests/crm/test_pa_reader.py
  tests/crm/test_zaf_reader.py
Owners: @Aries-Serpent/owners

feat: scaffold crm engines and cli
  config/cdm/assignment.csv
  config/mapping/assignment_d365.csv
  config/mapping/assignment_zendesk.csv
  docs/crm/admin-runbooks/d365.md
  docs/crm/admin-runbooks/zendesk.md
  docs/crm/architecture/cdm.md
  noxfile.py
  src/codex_crm/__init__.py
  src/codex_crm/cdm/__init__.py
  src/codex_crm/cdm/loader.py
  src/codex_crm/cli.py
  src/codex_crm/convert/__init__.py
  src/codex_crm/convert/rules.py
  src/codex_crm/d365_admin/__init__.py
  src/codex_crm/d365_admin/generate.py
  src/codex_crm/diagram/__init__.py
  src/codex_crm/diagram/flows.py
  src/codex_crm/evidence/__init__.py
  src/codex_crm/evidence/emit.py
  src/codex_crm/pa_legacy/__init__.py
  src/codex_crm/pa_legacy/reader.py
  src/codex_crm/zaf_legacy/__init__.py
  src/codex_crm/zaf_legacy/reader.py
  src/codex_crm/zd_admin/__init__.py
  src/codex_crm/zd_admin/generate.py
  tests/crm/test_cli_smoke.py
  tests/crm/test_conversion_fidelity.py
  tests/crm/test_pa_reader.py
  tests/crm/test_zaf_reader.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

feat: extend zendesk tooling and add qa scaffolds
  src/codex/cli_zendesk.py
  src/codex/dynamics/__init__.py
  src/codex/dynamics/model/__init__.py
  src/codex/dynamics/model/choice.py
  src/codex/dynamics/model/role.py
  src/codex/dynamics/role_matrix.py
  src/codex/qa/__init__.py
  src/codex/qa/rubric.py
  src/codex/versioning.py
  src/codex/zendesk/__init__.py
  src/codex/zendesk/apply.py
  src/codex/zendesk/model/__init__.py
  src/codex/zendesk/model/role.py
  src/codex/zendesk/model/routing.py
  src/codex/zendesk/model/sla.py
  src/codex/zendesk/plan/diff_engine.py
Owners: @Aries-Serpent/owners

Add legacy ZAF bundle extractor and tests
  src/codex_crm/__init__.py
  src/codex_crm/zaf_legacy/__init__.py
  src/codex_crm/zaf_legacy/reader.py
  tests/fixtures/__init__.py
  tests/fixtures/zaf_legacy.py
  tests/unit/test_zaf_legacy_reader.py
Owners: @Aries-Serpent/owners

Add CRM flow diagram helpers
  src/codex_crm/__init__.py
  src/codex_crm/diagram/__init__.py
  src/codex_crm/diagram/flows.py
  tests/codex_crm/test_diagram_flows.py
Owners: @Aries-Serpent/owners

Add CRM CDM loader with robust path detection
  config/cdm/assignment.csv
  src/codex_crm/__init__.py
  src/codex_crm/cdm/__init__.py
  src/codex_crm/cdm/loader.py
Owners: @Aries-Serpent/owners

Fix CRM loader resource discovery
  pyproject.toml
  src/codex_crm/cdm/data/cdm/assignment.csv
  src/codex_crm/cdm/data/mapping/assignment_d365.csv
  src/codex_crm/cdm/data/mapping/assignment_zendesk.csv
  src/codex_crm/cdm/loader.py
Owners: @Aries-Serpent/owners

Remove assignment data from assignment.csv
  config/cdm/assignment.csv
Owners: @Aries-Serpent/owners

Add CRM utilities and tests
  src/codex_crm/__init__.py
  src/codex_crm/cli.py
  src/codex_crm/convert/__init__.py
  src/codex_crm/convert/rules.py
  src/codex_crm/diagram/__init__.py
  src/codex_crm/diagram/flows.py
  src/codex_crm/pa_legacy/__init__.py
  src/codex_crm/pa_legacy/reader.py
  src/codex_crm/zaf_legacy/__init__.py
  src/codex_crm/zaf_legacy/reader.py
  tests/crm/__init__.py
  tests/crm/test_cli.py
  tests/crm/test_diagram_flows.py
  tests/crm/test_pa_legacy_reader.py
  tests/crm/test_rules_conversion.py
  tests/crm/test_zaf_legacy_reader.py
Owners: @Aries-Serpent/owners

Ensure CDM resources load from packaged data
  src/codex_crm/cdm/__init__.py
  src/codex_crm/cdm/loader.py
  tests/crm/test_cdm_loader.py
Owners: @Aries-Serpent/owners

Align QA rubric, dynamics models, and versioning helpers with spec
  src/codex/dynamics/__init__.py
  src/codex/dynamics/model/choice.py
  src/codex/dynamics/role_matrix.py
  src/codex/qa/__init__.py
  src/codex/qa/rubric.py
  src/codex/versioning.py
  src/codex/zendesk/model/routing.py
  src/codex/zendesk/model/sla.py
Owners: @Aries-Serpent/owners

Fix Zendesk apply plan validation
  src/codex/cli_zendesk.py
Owners: @Aries-Serpent/owners

Add CRM CLI helpers and optional dependency guards
  AGENTS.md
  Makefile
  conftest.py
  examples/roles/d365_roles.example.json
  examples/roles/zendesk_roles.example.json
  src/codex/cli_qa.py
  src/codex/cli_roles.py
  src/codex/cli_zendesk.py
  src/codex/zendesk/apply.py
Owners: @Aries-Serpent/owners

Delay Zendesk apply evidence until operations succeed
  src/codex/zendesk/apply.py
Owners: @Aries-Serpent/owners

Fix Zendesk plan validation for CLI apply
  src/codex/cli_zendesk.py
  src/codex/zendesk/plan/validators.py
  tests/test_zendesk_validators.py
Owners: @Aries-Serpent/owners

Broaden env var redaction in capture_environment
  src/codex_ml/utils/repro.py
Owners: @Aries-Serpent/ml-core

feat: extend crm tooling and dry-run coverage
  config/mapping/routing_patterns.csv
  config/mapping/sla_parity.csv
  docs/crm/admin-runbooks/d365.md
  docs/crm/admin-runbooks/zendesk.md
  noxfile.py
  src/codex/cli.py
  src/codex/cli_zendesk.py
  src/codex/diagram/__init__.py
  src/codex/diagram/flows.py
  src/codex/dynamics/cli_d365.py
  src/codex/zendesk/apply.py
  src/codex_crm/convert/rules.py
  tests/crm/test_conversion_truths.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

Fix GPU nox session and CLI defaults
  noxfile.py
  src/codex_crm/cli.py
Owners: @Aries-Serpent/owners

Add offline D365 solution XML and evidence tooling
  config/d365/routing.csv
  config/d365/slas.csv
  config/d365/solution_manifest.json
  docs/crm/admin-runbooks/d365.md
  noxfile.py
  src/codex/cli.py
  src/codex/cli_maps.py
  src/codex/dynamics/apply_logging.py
  src/codex/dynamics/cli_d365.py
  src/codex/dynamics/solution_xml.py
  src/codex/evidence.py
  src/codex/mapping/__init__.py
  src/codex/mapping/load.py
  src/codex/mapping/models.py
  tests/d365/__init__.py
  tests/d365/test_apply_stubs.py
  tests/d365/test_mapping_loaders.py
  tests/d365/test_solution_xml.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

Add archival workflow with CLI and SQL migrations
  db/migrations/mariadb/001_init.sql
  db/migrations/postgres/001_init.sql
  db/migrations/sqlite/001_init.sql
  docs/crm/admin-runbooks/archive.md
  src/codex/archive/__init__.py
  src/codex/archive/api.py
  src/codex/archive/dal.py
  src/codex/archive/util.py
  src/codex/cli.py
  src/codex/cli_archive.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

Add Codex archive CLI and schema
  docs/guides/codex_archive_runbook.md
  schemas/codex_archive.sql
  src/codex/archive/__init__.py
  src/codex/archive/backend.py
  src/codex/archive/cli.py
  src/codex/archive/schema.py
  src/codex/archive/service.py
  src/codex/archive/util.py
  src/codex/cli.py
Owners: @Aries-Serpent/docs, @Aries-Serpent/owners

Fix archive artifact refresh and codec-aware restore
  src/codex/archive/backend.py
  src/codex/archive/service.py
  src/codex/archive/util.py
Owners: @Aries-Serpent/owners

Add archive planning and tombstone workflow
  Makefile
  docs/crm/admin-runbooks/archive.md
  noxfile.py
  src/codex/archive/__init__.py
  src/codex/archive/api.py
  src/codex/archive/detect.py
  src/codex/archive/plan.py
  src/codex/archive/score.py
  src/codex/archive/stub.py
  src/codex/archive/util.py
  src/codex/cli.py
  src/codex/cli_archive.py
  tests/archive/test_plan_and_store.py
  tests/archive/test_stub_text.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

Delay restore logging until after successful write
  src/codex/archive/backend.py
  src/codex/archive/service.py
Owners: @Aries-Serpent/owners

Fix archive CLI registration conflict
  src/codex/cli.py
Owners: @Aries-Serpent/owners

Add archive consolidation workflow and verification tools
  db/migrations/mariadb/001_init_archive.sql
  db/migrations/postgres/001_init_archive.sql
  db/migrations/sqlite/001_init_archive.sql
  src/codex/archive/__init__.py
  src/codex/archive/api.py
  src/codex/archive/consolidate.py
  src/codex/archive/dal.py
  src/codex/archive/shims.py
  src/codex/archive/similarity.py
  src/codex/archive/stub.py
  src/codex/archive/util.py
  src/codex/cli_archive.py
  tests/archive/test_consolidation_flow.py
Owners: @Aries-Serpent/owners

Add release packaging workflows
  Makefile
  db/migrations/mariadb/002_release.sql
  db/migrations/postgres/002_release.sql
  db/migrations/sqlite/002_release.sql
  docs/crm/admin-runbooks/release.md
  noxfile.py
  src/codex/cli.py
  src/codex/cli_release.py
  src/codex/release/__init__.py
  src/codex/release/api.py
  src/codex/release/manifest.py
  tests/release/test_release_pack_verify.py
  tests/release/test_release_unpack.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

Add release persistence for packed releases
  docs/crm/admin-runbooks/release.md
  src/codex/archive/dal.py
  src/codex/release/api.py
  tests/release/test_release_dal.py
Owners: @Aries-Serpent/docs, @Aries-Serpent/owners

Fix SQLite referent insertion to use item IDs
  src/codex/archive/dal.py
Owners: @Aries-Serpent/owners

Enable release persistence for Postgres and MariaDB
  db/migrations/postgres/002_release.sql
  docs/crm/admin-runbooks/release.md
  src/codex/archive/api.py
  src/codex/archive/dal.py
  tests/release/test_release_dal_pg_mariadb.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

Add knowledge ingestion pipeline and CLI
  Makefile
  docs/crm/admin-runbooks/knowledge.md
  noxfile.py
  src/codex/cli.py
  src/codex/cli_knowledge.py
  src/codex/knowledge/__init__.py
  src/codex/knowledge/build.py
  src/codex/knowledge/chunk.py
  src/codex/knowledge/normalize.py
  src/codex/knowledge/pii.py
  src/codex/knowledge/schema.py
  tests/knowledge/test_build_kb.py
  tests/knowledge/test_normalize.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

Fix SQLite referent lookup and secure tar extraction
  src/codex/archive/dal.py
  src/codex/release/api.py
Owners: @Aries-Serpent/owners

Add diagram utilities and knowledge pipeline modules
  docs/crm/admin-runbooks/knowledge.md
  noxfile.py
  src/codex/archive/dal.py
  src/codex/cli.py
  src/codex/cli_knowledge.py
  src/codex/diagram/flows.py
  src/codex/evidence/__init__.py
  src/codex/evidence/core.py
  src/codex/knowledge/build.py
  src/codex/knowledge/chunk.py
  src/codex/knowledge/normalize.py
  src/codex/knowledge/pii.py
  src/codex/knowledge/schema.py
  src/codex/release/api.py
  src/codex_crm/diagram/flows.py
  tests/archive/test_referent_pg_mariadb.py
  tests/diagram/test_flow_to_mermaid_smoke.py
  tests/knowledge/test_build_kb.py
  tests/zd/test_evidence_parity.py
Owners: @Aries-Serpent/docs, @Aries-Serpent/owners

docs: add archive ping and dedup notes
  Makefile
  docs/crm/admin-runbooks/archive.md
  docs/crm/admin-runbooks/knowledge.md
  noxfile.py
  src/codex/archive/dal.py
  src/codex/cli_archive.py
  src/codex/cli_knowledge.py
  src/codex/cli_maps.py
  src/codex/cli_zendesk.py
  src/codex/dynamics/cli_d365.py
  src/codex/knowledge/build.py
  src/codex/knowledge/dedup.py
  src/codex_ml/cli/checkpoint_validate.py
  src/codex_ml/cli/tracking_decide.py
  src/codex_ml/cli/validate.py
  src/codex_ml/eval/eval_runner.py
  src/tokenization/cli.py
  tests/archive/test_sql_identifier_safety.py
  tests/knowledge/test_archive_manifest_side_effects.py
  tests/knowledge/test_dedup.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs, @Aries-Serpent/ml-core

Implement repo map CLI and add NDJSON logging
  README.md
  docs/quickstart.md
  src/codex_ml/cli/codex_cli.py
  src/codex_ml/config/__init__.py
  src/codex_ml/training/eval.py
  src/codex_ml/training/functional_training.py
  src/codex_ml/utils/logging_wandb.py
  tests/cli/test_evaluation_cli.py
  tests/test_eval_loop_cpu.py
  tests/test_wandb_shim.py
  tests/unit/test_data_cache_locking.py
  tests/unit/test_repo_map_command.py
  training/data_utils.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs, @Aries-Serpent/ml-core
