Repository Aries-Serpent/_codex_, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aries-Serpent/owners, @Aries-Serpent/ml-core, @Aries-Serpent/docs

Fix checkpoint metadata serialization
  src/training/trainer.py
Owners: @Aries-Serpent/owners

Implement modular trainer stack and configs
  ERROR_LOG.md
  README.md
  change_log.md
  configs/data/tiny.yaml
  configs/default.yaml
  configs/model/base.yaml
  configs/training/base.yaml
  data/tiny_text_classification.tsv
  src/data/__init__.py
  src/data/datasets.py
  src/logging_utils.py
  src/modeling.py
  src/training/__init__.py
  src/training/trainer.py
  tests/unit/test_datasets_module.py
  tests/unit/test_logging_utils_module.py
  tests/unit/test_modeling_module.py
  tests/unit/test_trainer_module.py
Owners: @Aries-Serpent/owners

Fix evaluation forward path and tensorize dataset labels
  src/data/datasets.py
  src/training/trainer.py
Owners: @Aries-Serpent/owners

Restore training and modeling compatibility aliases
  src/logging_utils.py
  src/modeling.py
  src/training/__init__.py
  src/training/trainer.py
Owners: @Aries-Serpent/owners

Add deterministic checkpointing utilities and MLflow smoke tests
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/PR_PLAN.md
  noxfile.py
  pytest.ini
  requirements-dev.txt
  src/data/datasets.py
  src/training/checkpointing.py
  src/training/simple_trainer.py
  tests/test_checkpointing.py
  tests/test_datasets_determinism.py
  tests/test_tracking_mlflow_smoke.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

Preserve ExtendedTrainer import compatibility
  src/training/__init__.py
Owners: @Aries-Serpent/owners

Adjust modeling loader compatibility
  src/modeling.py
Owners: @Aries-Serpent/owners

Restore legacy logging, modeling, and trainer compatibility
  src/logging_utils.py
  src/modeling.py
  src/training/trainer.py
Owners: @Aries-Serpent/owners

Restore legacy logging, modeling, and trainer compatibility
  src/logging_utils.py
  src/modeling.py
  src/training/trainer.py
Owners: @Aries-Serpent/owners

Restore legacy logging, modeling, and trainer compatibility
  src/logging_utils.py
  src/modeling.py
  src/training/trainer.py
Owners: @Aries-Serpent/owners

Add Typer CLI smoke helpers and improve checkpoint retention
  .gitignore
  CHANGELOG.md
  README.md
  docs/CHECKPOINTS.md
  docs/CLI.md
  docs/PR_PLAN.md
  docs/QUALITY_GATES.md
  docs/quality_gates.md
  noxfile.py
  pyproject.toml
  pytest.ini
  requirements.txt
  src/codex_cli/__init__.py
  src/codex_cli/app.py
  src/training/checkpointing.py
  tests/test_checkpointing.py
  tests/test_cli.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

feat: add logging and evaluation helpers
  CHANGELOG.md
  Makefile
  README.md
  docs/LOGGING.md
  requirements-dev.txt
  src/evaluation/__init__.py
  src/evaluation/metrics.py
  src/evaluation/writers.py
  src/logging_utils.py
  tests/test_eval_writers.py
  tests/test_logging_utils.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

feat: add local logging helpers and eval writers
  Makefile
  README.md
  docs/LOGGING.md
  src/evaluation/metrics.py
  src/evaluation/writers.py
  src/logging_utils.py
  tests/test_eval_writers.py
  tests/test_logging_utils.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

Add October 16 audit and codex-ready execution scaffold
  _codex_status_update-2025-10-16.md
  codex_ready_sequence-2025-10-16.md
  scripts/codex_ready_execution.py
Owners: @Aries-Serpent/owners

Document codex_ready_execution outputs for 2025-10-16
  _codex_status_update-2025-10-16.md
  codex_ready_sequence-2025-10-16.md
Owners: @Aries-Serpent/owners

fix: restore logging configuration api
  src/logging_utils.py
Owners: @Aries-Serpent/owners

fix: restore logging configuration api
  src/logging_utils.py
Owners: @Aries-Serpent/owners

fix: repair modeling, logging, and dataset helpers
  src/data/datasets.py
  src/logging_utils.py
  src/modeling.py
Owners: @Aries-Serpent/owners

Refine manifest utilities and dataset typing
  src/codex_ml/utils/atomic_io.py
  src/data/datasets.py
  src/data/manifest.py
  torch/__init__.py
Owners: @Aries-Serpent/ml-core, @Aries-Serpent/owners

Refine manifest utilities and dataset typing
  src/codex_ml/utils/atomic_io.py
  src/data/datasets.py
  src/data/manifest.py
  torch/__init__.py
Owners: @Aries-Serpent/ml-core, @Aries-Serpent/owners

Refine manifest utilities and dataset typing
  src/codex_ml/utils/atomic_io.py
  src/data/datasets.py
  src/data/manifest.py
  torch/__init__.py
Owners: @Aries-Serpent/ml-core, @Aries-Serpent/owners

Finalize modeling bf16 guard integration
  CHANGELOG.md
  LOGGING.md
  README.md
  src/codex_ml/data/split_utils.py
  src/codex_ml/interfaces/tokenizer.py
  src/codex_ml/utils/checkpoint.py
  src/codex_ml/utils/checkpointing.py
  src/codex_ml/utils/modeling.py
  src/codex_ml/utils/repro.py
  src/evaluation/writers.py
  src/logging_utils.py
  src/modeling.py
  src/training/trainer.py
  tests/test_dataset_manifest.py
  tests/test_eval_writers.py
  tests/test_interfaces_compat.py
  tests/test_logging_utils.py
  tests/test_modeling_utils.py
  tests/test_secrets_scanner.py
  tests/test_trainer_extended.py
  tools/scan_secrets.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/ml-core

Implement tokenizer protocol guard and resilience improvements
  src/codex_ml/data/split_utils.py
  src/codex_ml/interfaces/tokenizer.py
  src/codex_ml/utils/checkpoint_core.py
  src/evaluation/writers.py
  src/logging_utils.py
  src/modeling.py
  src/training/trainer.py
  tests/data/test_split_manifest.py
  tests/test_eval_writers.py
  tests/test_interfaces_compat.py
  tests/test_logging_utils.py
  tests/test_secrets_scanner.py
  tests/training/test_trainer_auto_resume.py
  tools/scan_secrets.py
Owners: @Aries-Serpent/ml-core, @Aries-Serpent/owners

Handle resumed epochs in training loop
  src/training/trainer.py
Owners: @Aries-Serpent/owners

Adjust training loop start epoch
  src/training/trainer.py
Owners: @Aries-Serpent/owners

Fix NDJSON writer metadata handling
  src/evaluation/writers.py
Owners: @Aries-Serpent/owners

Fix trainer resume logic to skip completed epochs
  src/training/trainer.py
Owners: @Aries-Serpent/owners

Add files via upload
  docs/architecture/adr-template.md
Owners: @Aries-Serpent/docs

Delete docs/architecture/adr-template.md
  docs/architecture/adr-template.md
Owners: @Aries-Serpent/docs

Restore plaintext scanning in scan_secrets
  tools/scan_secrets.py
Owners: @Aries-Serpent/owners

.github/CODEOWNERS:

# Default owners
* @Aries-Serpent/owners

# ML core
src/codex_ml/** @Aries-Serpent/ml-core

# Docs
docs/** @Aries-Serpent/docs

# Tests
tests/** @Aries-Serpent/owners
