Repository Aries-Serpent/_codex_, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aries-Serpent/owners, @Aries-Serpent/ml-core, @Aries-Serpent/docs

Fix NDJSONLogger import path for evaluate CLI
  src/codex_ml/cli/codex_cli.py
Owners: @Aries-Serpent/ml-core

Add repo map command and tests
  README.md
  src/codex_ml/cli/codex_cli.py
  tests/unit/test_repo_map.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/ml-core

feat: enhance evaluation CLI metrics logging
  README.md
  noxfile.py
  src/codex_ml/cli/codex_cli.py
  tests/unit/test_evaluate_cli_metrics_log.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/ml-core

Add metrics-only and run-id options to evaluation CLI
  README.md
  noxfile.py
  src/codex_ml/cli/codex_cli.py
  tests/unit/test_evaluate_cli_flags.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/ml-core

Fix tests nox session installs dependencies
  noxfile.py
Owners: @Aries-Serpent/owners

Preserve run_id in evaluation NDJSON metrics log
  src/codex_ml/cli/codex_cli.py
Owners: @Aries-Serpent/ml-core

fix: install test deps and preserve evaluation run id
  noxfile.py
  src/codex_ml/cli/codex_cli.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/ml-core

chore: restore legacy nox sessions
  noxfile.py
Owners: @Aries-Serpent/owners

Clean release staging directory before packing
  src/codex/release/api.py
Owners: @Aries-Serpent/owners

Ensure release staging directory is cleaned
  src/codex/release/api.py
Owners: @Aries-Serpent/owners

Fix archive plan missing re import
  src/codex/archive/plan.py
Owners: @Aries-Serpent/owners

Refine coverage tooling and docs
  .coveragerc
  .importlinter
  Makefile
  README.md
  docs/developer/Coverage_Policy.md
  docs/ops/Local_Tooling_Prereqs.md
  docs/validation/CODEBASE_Status_Audit_2025-10-14.md
  noxfile.py
  pyproject.toml
  tests/unit/test_coverage_toml_floor.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

Fix referent API and load release migrations
  src/codex/archive/api.py
  src/codex/archive/dal.py
Owners: @Aries-Serpent/owners

Add codex audit workflow automation script
  tools/apply_codex_audit_tasks.py
Owners: @Aries-Serpent/owners

Add evaluation helper, tokenizer adapter, and NVML fallback
  CHANGELOG_CODEX.md
  configs/default.yaml
  src/codex_ml/callbacks/system_metrics.py
  src/codex_ml/eval/evaluator.py
  src/codex_ml/interfaces/__init__.py
  src/codex_ml/interfaces/tokenizer.py
  tests/eval/test_evaluate_dataloader_helper.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/ml-core

Add uv sync helpers and NVML fallback coverage
  Makefile
  README.md
  docs/developer/Coverage_Policy.md
  docs/ops/Deterministic_Installs.md
  docs/ops/monitoring.md
  src/codex_ml/callbacks/system_metrics.py
  tests/monitoring/test_system_metrics_cpu_fallback.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs, @Aries-Serpent/ml-core

Add checkpoint integrity helpers and HF adapter tests
  src/codex_ml/interfaces/tokenizer.py
  src/codex_ml/interfaces/tokenizer_hf.py
  src/codex_ml/utils/checkpoint_integrity.py
  tests/checkpoint/test_integrity_snapshot.py
  tests/tokenization/test_hf_tokenizer_adapter.py
Owners: @Aries-Serpent/ml-core, @Aries-Serpent/owners

Handle MissingMandatoryValue when snapshotting configs
  src/codex_ml/utils/checkpoint_integrity.py
Owners: @Aries-Serpent/ml-core

Expose refer_dup_to_canonical helper in archive API
  src/codex/archive/api.py
Owners: @Aries-Serpent/owners

docs: add hydra defaults and security artifacts guidance
  Makefile
  README.md
  configs/default.yaml
  docs/configuration/hydra_quickstart.md
  docs/dev/Import_Contracts.md
  docs/ops/Security_Artifacts.md
  noxfile.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

Update Hydra CLI usage in docs and helpers
  Makefile
  configs/default.yaml
  docs/configuration/hydra_quickstart.md
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

feat(packaging): add local build tooling and plugin registry scaffolding
  Makefile
  docs/packaging/Packaging_and_Release.md
  docs/plugins/Plugin_Registry.md
  docs/training/Distributed_Minimal_Hooks.md
  examples/plugins/hello_plugin.py
  pyproject.toml
  src/codex_ml/cli/entrypoints.py
  src/codex_ml/distributed/__init__.py
  src/codex_ml/distributed/minimal.py
  src/codex_ml/plugins/__init__.py
  src/codex_ml/plugins/base.py
  src/codex_ml/plugins/programmatic.py
  tests/distributed/test_minimal_distributed.py
  tests/plugins/test_registry_programmatic.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs, @Aries-Serpent/ml-core

Fix MariaDB DSN parsing
  src/codex/archive/dal.py
Owners: @Aries-Serpent/owners

Add evaluation CLI dispatch, distributed training wiring, and checkpoint integrity
  Makefile
  docs/training/Evaluation_CLI.md
  pyproject.toml
  src/codex_ml/cli/entrypoints.py
  src/codex_ml/cli/hydra_main.py
  src/codex_ml/cli/list_plugins.py
  src/codex_ml/utils/checkpoint_core.py
  tests/checkpoint/test_checkpoint_integrity_wiring.py
  tests/eval/test_eval_cli.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs, @Aries-Serpent/ml-core

Improve eval CLI diagnostics and tab hygiene
  Makefile
  codex.mk
  docs/training/Evaluation_CLI.md
  src/codex_ml/cli/entrypoints.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs, @Aries-Serpent/ml-core

Prevent purging shared artifacts when approving deletes
  src/codex/archive/backend.py
  src/codex/archive/cli.py
  src/codex/archive/service.py
  tests/archive/test_purge_shared_artifact.py
Owners: @Aries-Serpent/owners

Enhance CLI plugin listing and checkpoint metadata
  docs/training/Evaluation_CLI.md
  src/codex_ml/cli/entrypoints.py
  src/codex_ml/cli/hydra_main.py
  src/codex_ml/cli/list_plugins.py
  src/codex_ml/utils/checkpoint_integrity.py
  tests/checkpoint/test_checkpoint_integrity_tolerant.py
  tests/eval/test_eval_cli_passthrough.py
  tests/plugins/test_list_plugins_cli_smoke.py
Owners: @Aries-Serpent/docs, @Aries-Serpent/ml-core, @Aries-Serpent/owners

W3 Rollup: eval CLI, quiet Hydra exit, plugin CLI JSON/stderr discipline, checkpoint integrity (git SHA), tests/docs
  Makefile
  docs/developer/Plugin_Registry_CLI.md
  docs/training/Evaluation_CLI.md
  src/codex_ml/cli/hydra_main.py
  src/codex_ml/cli/list_plugins.py
  src/codex_ml/codex_structured_logging.py
  tests/checkpoint/test_checkpoint_integrity_tolerant.py
  tests/checkpoint/test_checkpoint_integrity_wiring.py
  tests/logging/test_capture_exceptions_systemexit.py
  tests/plugins/test_list_plugins_cli_flags.py
  tests/plugins/test_list_plugins_cli_json.py
  tests/plugins/test_list_plugins_cli_stdout_stderr.py
  tests/train/test_hydra_main_exit_path.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs, @Aries-Serpent/ml-core

Improve eval CLI override, plugin listing, and checkpoint resilience
  src/codex_ml/cli/list_plugins.py
  src/codex_ml/utils/checkpoint_integrity.py
  tests/checkpoint/test_checkpoint_integrity_tolerant.py
  tests/eval/test_eval_cli_passthrough.py
  tests/plugins/test_list_plugins_cli_smoke.py
Owners: @Aries-Serpent/ml-core, @Aries-Serpent/owners

Guard checkpoint atomic writes and add DDP smoke test
  pyproject.toml
  scripts/deep_research_task_process.py
  src/codex_ml/utils/checkpoint_core.py
  tests/checkpoint/test_no_direct_atomic_write_usage.py
  tests/distributed/test_ddp_env_optin_smoke.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/ml-core

Add canonical HF tokenizer adapter and example plugin
  docs/plugins/Plugin_Registry.md
  docs/tokenization/Adapter_Consolidation.md
  examples/plugins/metrics_token_accuracy_plugin.py
  pyproject.toml
  src/codex_ml/interfaces/tokenizer_hf.py
  src/codex_ml/plugins/programmatic.py
  src/codex_ml/tokenization/hf_adapter.py
  tests/plugins/test_entrypoint_discovery_json_cli.py
  tests/tokenization/test_hf_adapter_canonical.py
Owners: @Aries-Serpent/docs, @Aries-Serpent/owners, @Aries-Serpent/ml-core

Add import contract summary tooling and security refresh docs
  Makefile
  docs/ops/Security_Artifacts.md
  noxfile.py
  tools/import_contracts_summary.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

Add CLI probes, structured logging tests, and run metadata sidecar
  docs/ops/runbook_logging.md
  noxfile.py
  src/codex_ml/cli/entrypoints.py
  src/codex_ml/cli/hydra_main.py
  src/codex_ml/utils/checkpoint_core.py
  src/codex_ml/utils/run_metadata.py
  tests/checkpoint/test_run_metadata_sidecar.py
  tests/cli/conftest.py
  tests/cli/test_cli_structured_logging.py
  tests/cli/test_eval_probe_json_schema.py
  tests/cli/test_hydra_missing_probe_json.py
  tests/cli/test_train_probe_json_schema.py
  tests/conftest.py
  tests/monitoring/test_system_metrics_nvml_missing.py
  tests/plugins/test_list_plugins_degrade.py
  tests/schemas/eval_probe.schema.json
  tests/schemas/train_probe.schema.json
Owners: @Aries-Serpent/docs, @Aries-Serpent/owners, @Aries-Serpent/ml-core

Add GitHub App token helpers and docs
  Makefile
  docs/ops/GitHub_App_Integration.md
  tests/github/test_app_token.py
  tests/github/test_app_token_cli.py
  tests/github/test_gh_api_wrapper.py
  tools/github/app_token.py
  tools/github/app_token.sh
  tools/github/gh_api.py
  tools/github/runner_register.sh
  tools/github/runner_unregister.sh
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

Add pagination and caching to GitHub API helper
  Makefile
  docs/ops/GitHub_App_Integration.md
  tests/github/test_gh_api_pagination_cache.py
  tools/github/__init__.py
  tools/github/gh_api.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

Add GitHub API pagination and caching support
  Makefile
  docs/ops/GitHub_App_Integration.md
  tests/github/test_gh_api_pagination_cache.py
  tools/github/gh_api.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

Fix GitHub helper caching and runner downloads
  tools/github/gh_api.py
  tools/github/runner_register.sh
Owners: @Aries-Serpent/owners

Add CLI JSON schema tests and resilience utilities
  docs/developer/Patch_Debris_Guard.md
  docs/ops/CLI_JSON_Schemas.md
  noxfile.py
  schemas/cli/gh_api_envelope.schema.json
  schemas/cli/list_plugins.schema.json
  src/codex_ml/logging/structured.py
  src/codex_ml/utils/checkpoint_core.py
  src/codex_ml/utils/jsonio.py
  src/codex_ml/utils/runmeta.py
  tests/checkpoint/test_runmeta_enrichment.py
  tests/cli/test_cli_schemas.py
  tests/github/test_gh_api_pagination_cache.py
  tests/interfaces/test_registry_degradation.py
  tests/monitoring/test_system_metrics_cpu_fallback.py
  tests/train/test_hydra_degrade.py
  tools/github/gh_api.py
Owners: @Aries-Serpent/docs, @Aries-Serpent/owners, @Aries-Serpent/ml-core

Implement modular trainer stack and configuration restructure
  README.md
  change_log.md
  configs/data/tiny.yaml
  configs/default.yaml
  configs/model/base.yaml
  configs/training/base.yaml
  error_log.md
  noxfile.py
  semgrep_rules/python-basic.yml
  semgrep_rules/python-security.yaml
  semgrep_rules/python/requests_no_timeout.yml
  semgrep_rules/python/ssl_verify_off.yml
  semgrep_rules/python/subprocess_shell.yml
  src/codex_crm/diagram/__init__.py
  src/codex_crm/diagram/flows.py
  src/codex_crm/pa_legacy/reader.py
  src/codex_crm/zaf_legacy/reader.py
  src/data/datasets.py
  src/logging_utils.py
  src/modeling.py
  src/training/__init__.py
  src/training/trainer.py
  src/utils/error_logging.py
  tests/data/test_datasets_module.py
  tests/logging/test_logging_utils_module.py
  tests/modeling/test_modeling_module.py
  tests/security/test_semgrep_rules.py
  tests/training/test_extended_trainer.py
  torch/__init__.py
  training/__init__.py
Owners: @Aries-Serpent/owners

Add modular trainer, modeling utilities, and Hydra defaults
  README.md
  change_log.md
  configs/data/tiny.yaml
  configs/default.yaml
  configs/model/base.yaml
  configs/training/base.yaml
  docs/modules/model_registry.md
  docs/reproducibility.md
  error_log.md
  src/data/datasets.py
  src/logging_utils.py
  src/modeling.py
  src/training/__init__.py
  src/training/trainer.py
  tests/test_datasets_module.py
  tests/test_logging_utils_module.py
  tests/test_modeling_module.py
  tests/test_trainer_extended.py
Owners: @Aries-Serpent/owners, @Aries-Serpent/docs

.github/CODEOWNERS:

# Default owners
* @Aries-Serpent/owners

# ML core
src/codex_ml/** @Aries-Serpent/ml-core

# Docs
docs/** @Aries-Serpent/docs

# Tests
tests/** @Aries-Serpent/owners
